

.links-container .navbar-link {
        display: table-cell;
        position: relative;
        height: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        vertical-align: middle;
        color: white;
        font-size: .625rem;
        letter-spacing: .05rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
}

.links-container .navbar-link:hover {
        color: rgb(233,50,117);
}

.container {
        margin: 0 auto;
        max-width: 64rem;
}

.container.narrow {
        max-width: 56rem;
}

/* Medium and small screens (640px) */
@media (min-width: 640px) {
        html {
                font-size: 112%;
        }

        .column {
                float: left;
                padding-left: 1rem;
                padding-right: 1rem;
        }

        .column.full { width: 100%; }
        .column.two-thirds { width: 66.7%; }
        .column.half { width: 50%; }
        .column.third { width: 33.3%; }
        .column.fourth { width: 25%; }
        .column.flow-opposite { float: right; }
}

/* Large screens (1024px) */
@media (1024px) {
        html: (font-size: 120%;)
}

.clearfix::before, clearfix::after {
        content: " ";
        display: table;
}

.clearfix::after {
        clear: both;
}
