.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

tr.paused .song,
tr.playing:hover .ion-md-pause,
tr:hover .ion-md-play
{
  display: block;
}

tr .ion-md-pause,
tr .ion-md-play,
tr:hover .song,
tr:hover .paused .song,
tr.playing .ion-md-play
{
  display: none;
}
